<template>
  <v-layout row>
    <v-flex xs12>
      <div>
        <v-slider v-model="redScaled" min="0" step="0" max="1" :color="'red darken-3'" :label="'Red'"></v-slider>
        <v-slider v-model="greenScaled" :label="'Green'"  min="0" step="0" max="1" :color="'green darken-3'"></v-slider>
        <v-slider v-model="blueScaled" :label="'Blue'" min="0" step="0" max="1"></v-slider>
        <v-slider v-model="levelReact"  min="0" step="0" max="255" :color="'yellow darken-3'" :label="'Intensity'"></v-slider>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  module.exports = {
    data() {
      return {
        red: 1,
        green: 1,
        blue: 1,
        level: 100
      };
    },
    computed: {
      redScaled: {
        get(){ return this.red; },
        set(val){ this.red = val; this.updateColors(); }
      },
      greenScaled: {
        get(){ return this.green; },
        set(val){ this.green = val; this.updateColors(); }
      },
      blueScaled: {
        get(){ return this.blue; },
        set(val){ this.blue = val; this.updateColors; }
      },
      levelReact: {
        get() { return this.level; },
        set(val) {this.level = val; this.updateColors();}
      }
    },
    methods: {
      updateColors(){
        const scaler = Math.max(this.red, this.green, this.blue);
        this.red   /= scaler;
        this.green /= scaler;
        this.blue  /= scaler;

        this.$http.get('http://localhost:8090/send', {params:{red: this.redScaled, green:this.greenScaled, blue: this.blueScaled, level: this.level, device:3}}).then(response => {
          console.log(response);
          this.data = response.bodyText;
        });
      }
    }
  }
</script>