<template>
  <div></div>

</template>

<script>
import * as d3 from 'd3';
const data = [99, 71, 78, 25, 36, 92];
export default {
  data(){
    return {
      graph: 0,
      defs: 0,
      imgG: 0,
      lamps: [],
      points: [],
      imgX: 80,
      imgY: 60,
      intervals: []
    };
  },
  mounted() {
    const svg = d3.select(this.$el)
      .append('svg')
      .attr('width', this.scaleCoords(this.imgX))
      .attr('height', this.scaleCoords(this.imgY));

    this.defs = svg.append('defs');
    this.imgG = svg.append('g');

    let imgRaw = this.imgG.append('image')
        .attr('id', 'imgraw')
        .attr('width', this.scaleCoords(this.imgX))
        .attr('height', this.scaleCoords(this.imgY))
        .style('opacity', 1);

    let imgProcessed = this.imgG.append('image')
        .attr('id', 'imgprocessed')
        .attr('width', this.scaleCoords(this.imgX))
        .attr('height', this.scaleCoords(this.imgY))
        .style('opacity', 0.4);

    this.graph = svg.append('g')

    // const x = d3.scaleLinear().range([0, this.scaleCoords(this.imgX)]);
    // const y = d3.scaleLinear().range([this.scaleCoords(this.imgY), 0]);
    // d3.axisLeft().scale(x);
    // d3.axisTop().scale(y);
    // x.domain(d3.extent(data, (d, i) => i));
    // y.domain([0, d3.max(data, d => d)]);
    // const createPath = d3.line()
    //   .x((d, i) => x(i))
    //   .y(d => y(d));
    // this.graph.append('path').attr('d', createPath(data));

    this.intervals = [
      setInterval(() => {this.refreshImages()}, 1000),
      setInterval(() => {this.getLamps()}, 1000),
      setInterval(() => {this.getPoints()}, 1000)
    ];
  },
  beforeDestroy(){
    for(const i in this.intervals)
      this.intervals[i]();
  },
  methods:{
    redrawLamps(){
      this.graph.selectAll('circle.lamp').remove();
      this.defs.selectAll('*').remove();
      for(const i in this.lamps){
        let lamp = this.lamps[i]
        let radialGradient = this.defs.append("radialGradient")
            .attr("id", "radial-gradient"+i);

        radialGradient.append("stop")
            .attr("offset", "0%")
            .attr("stop-color", lamp.col);

        radialGradient.append("stop")
            .attr("offset", "70%")
            .attr("stop-color", lamp.col);

        radialGradient.append("stop")
            .attr("offset", "100%")
            .attr("stop-color", "rgba(0,0,0,0)");

        this.graph.append('circle')
             .attr('class', 'lamp')
             .attr('cx', this.scaleCoords(lamp.x))
             .attr('cy', this.scaleCoords(lamp.y))
             .attr('r',  this.scaleCoords(lamp.r))
             .attr('fill', "url(#radial-gradient" + i + ")")
             .attr('opacity', lamp.l/255./2);

        this.graph.append('circle')
             .attr('class', 'lamp')
             .attr('cx', this.scaleCoords(lamp.x))
             .attr('cy', this.scaleCoords(lamp.y))
             .attr('r',  this.scaleCoords(1))
             .attr('fill', '#FFFFFF');
      }
    },
    redrawPoints(){
      this.graph.selectAll('circle.point').remove();
      for(const i in this.points){
        let point = this.points[i]

        this.graph.append('circle')
             .attr('class', 'point')
             .attr('cx', this.scaleCoords(point[0]))
             .attr('cy', this.scaleCoords(point[1]))
             .attr('r',  this.scaleCoords(point[2]))
             .attr('fill', '#000')
             .style('stroke', '#00FF00')
             .style('stroke-width', '3px')
             .style('opacity', 0.5);
      }
    },
    refreshImages(){
      this.imgG.select('#imgraw').attr('xlink:href', 'http://localhost:8090/pic?rand='+Math.random());
      this.imgG.select('#imgprocessed').attr('xlink:href', 'http://localhost:8090/pic2?rand='+Math.random());
    },
    getLamps(){
      this.$http.get('http://localhost:8090/get/lamps').then(response => {
        this.lamps = JSON.parse(response.bodyText);
        this.redrawLamps();
      });
    },
    getPoints(){
      this.$http.get('http://localhost:8090/get/points').then(response => {
        this.points = JSON.parse(response.bodyText);
        this.redrawPoints();
      });
    },
    scaleCoords(x){
      return x*8;
    }
  }
};
</script>

<style lang="sass">

</style>