<template>
  <v-list two-line subheader>
    <v-subheader inset>Lamps</v-subheader>
    <v-list-group v-for="lamp in lamps" :value="lamp.active" v-bind:key="lamp.label">
      <v-list-tile slot="item" @click="">
        <v-list-tile-action>
        <v-icon>lightbulb_outline</v-icon>
        </v-list-tile-action>
      <v-list-tile-content>
        <v-list-tile-title>{{ lamp.label }}</v-list-tile-title>
      </v-list-tile-content>
        <v-progress-circular v-bind:value="lamp.l/255*100" v-bind:style="{stroke:lamp.col + ' !important'}" class="ignore-prog-col "><span v-bind:style="{color:lamp.col}">{{(lamp.l/255*100).toFixed(0)}}</span></v-progress-circular>
      <v-list-tile-action>
        <v-icon>keyboard_arrow_down</v-icon>
      </v-list-tile-action>
    </v-list-tile>
    <v-list-tile  v-for="ring in lamp.rings">
      <v-list-tile-content>
        <v-list-tile-title>{{ rings[ring].label }}

        </v-list-tile-title>

      </v-list-tile-content>
      <v-list-tile-action>
        <v-progress-circular v-bind:value="rings[ring].stress_level" color="purple">{{rings[ring].stress_level}}</v-progress-circular>
      </v-list-tile-action>
    </v-list-tile>
  </v-list-group>

  </v-list>
</template>

<script>
  module.exports = {
    data(){
      return{
        lamps: [],
        rings: [],
        intervals: []
      };
    },
    mounted() {
      this.intervals = [
        setInterval(()=>{this.getLamps(); this.getRings()}, 1000)
      ];
    },
    beforeDestroy(){
      for(i in this.intervals)
        this.intervals[i]();
    },
    methods:{
      getLamps(){
        this.$http.get('http://localhost:8090/get/lamps').then(response => {
          this.lamps = JSON.parse(response.bodyText);
        });
      },
      getRings(){
        this.$http.get('http://localhost:8090/get/rings').then(response => {
          this.rings = JSON.parse(response.bodyText);
        });
      }
    }

  }
</script>

<style>
  .ignore-prog-col circle:nth-child(2){
    stroke: inherit;
  }
</style>