<template>
  <v-app>
    <v-toolbar fixed app :clipped-left="clipped">
      <v-icon>lightbulb_outline</v-icon>
      <v-toolbar-title>Helvar</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-slide-y-transition mode="out-in">
          <v-layout row>
            <v-flex xs12 lg6 style="height:480px">
              <lamp-emulator></lamp-emulator>
            </v-flex>
            <v-flex xs12 lg6>
              <lamp-list></lamp-list>
            </v-flex>
            <!-- <color-sliders></color-sliders> -->
          </v-layout>
        </v-slide-y-transition>
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span class="text-xs-center">Negative feedback &copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          { icon: 'bubble_chart', title: 'Inspire' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js',
        data: "aaa"
      }
    },
    created: function() {

        //this.refreshData();
        //this.timer = setInterval(this.refreshData, 3*1000);

    },
    methods: {
      refreshData(){
        this.$http.get('http://localhost:8090/get/dali').then(response => {
          // get body data
          console.log(response)
          this.data = response.bodyText;
        })
      }
    }
  }
</script>
